@import "../../App.css";

.hero-background {
  position: relative;
  margin-top: 66px;
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background::before {
  position: absolute;
  content: "";
  background: url("../../Assets/background-md.png") top/cover no-repeat;
  opacity: 0.75;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}
